<div class="container-door-config">
<style>

  #shopify-section-{{ section.id }} {
    z-index: 3;
  }

  #configurator-container {
    max-width: 1200px;
    width: 100%;
    height: 900px;
    margin: 0 auto;
    position: relative;
  }

  #configurator-container iframe {
    z-index: 99;
  }

  .firstpop .dc-modal__close{
    display:none;
  }
  .product-summary-modal .dc-modal__close{
    display:block;
  }
  /* DOOR CONFIG MODAL */

  #PageContainer .main-content {
    position: relative;
  }

  .dc-modal {
    display: none;
    position: absolute;
    z-index: 99999;
  /*  max-width: 1206px;
    max-height: 684px; */
    width: 1200px;
    height: 684px;
    background: #F5F1EB;
    opacity: 0;
    transition: 0.25s all ease-in-out;
    font-family: GT Walsheim Pro;
    border: 1px solid;
  }

  .dc-modal--active {
    display: flex;
    opacity: 1;
  }

  . {
    display: flex;
    width: 1200px;
    height: 684px;
    border: solid 1px black;
  } 

  .rml-container--inactive {
    display: none;
  }

  
/*  .dc-modal { 
    position: fixed;
    z-index: 99999;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: 0.25s all ease-in-out;
    font-family: GT Walsheim Pro;
  } 

  .dc-modal--active {
    opacity: 1;
    left: 0%;
    cursor: pointer;
  } */

  .dc-modal__content {
    display: flex;
    flex-direction: column;

    background-color: #F5F1EB;
    
    padding: 50px;
    max-height: 684px;
  }

  .dc-modal:not(.product-summary-modal) .dc-modal__content {
    padding: 50px 0;
  }

  .dc-modal__content form {
    position: relative;
  }

  .dc-modal__container {
  /*  cursor: default;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 93%;
    max-width: 734px;
    background: #fff;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    max-height: 96%;
    overflow-y: auto;
    text-align: center; */
  }

  .product-summary-modal .dc-modal__container {
    padding: 24px;
    max-width: 750px;
  }

  .summary-head {
    /* background-color: #F4F0EA;
    padding: 0.80rem;
    font-size: 16px;
    margin: -24px -24px 24px -24px; */

    background-color: #F5F1EB;
    font-family: Captain Cadet Display;
    font-weight: 400;
    font-size: 48px;
    line-height: 30px;
    /* identical to box height, or 62% */
    text-align: center;


  }

  .dc-modal__heading {
    position: relative;
  }

  .dc-modal .top-heading {
    background-color: #F4F0EA;
    font-size: 16px;
    font-family: GT Walsheim Pro;
    font-weight: 350;
    padding: 20px 30px;
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }

  .sub-head-section {
    text-align: center;
  }


  .dc-modal .sub-head-section h3 {
    font-family: Captain Cadet Display;
    text-transform: capitalize;
    font-size: 48px;
    line-height: 30px;
    font-weight: 400;
    color: #000;
    letter-spacing: normal;

  }
  
  .dc-modal .sub-head-section span {
    max-width: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 30px;
  }


  .form-group-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }

  .form-group-row .form-floating {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
  }

  .form-floating {
    margin-bottom: 20px;
  }

  .dc-modal__close {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
  }


  .product-summary-modal .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
   /* -webkit-box-align: start;
    -ms-flex-align: start;
     align-items: flex-start; */
     align-items: center;
     justify-content: space-evenly;
     padding: 50px 0;
  }

  .dc-modal__image {
    background-color: #F7F7F7;
    /* width: 41%; */
    width: 28%
  }

  .dc-modal__params {
    flex-direction: column;
    flex-wrap: wrap;
    width: 65%;
    max-height: 375px;
    margin-top: 25px;
    padding-left: 0;
  }

  .dc-modal__param {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 2.5rem;
    margin-left: 2rem;
  }

  .dc-modal__param p {
    margin: 0;
    font-size: 18px;
    line-height: 20px;
    color: #5E5E5E;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left;
  }

  .dc-modal__param-label {
    text-transform: capitalize;
  }

  .dc-modal__param-value {
    position: relative;
    left: 10%;
  }

  .dc-modal__param p.dc-modal__param-value {
    color: #232323;
    font-weight: 600;
  }

  .product-summary-modal .dc-modal__submit {
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 15px;
  }

  .dc-modal__submit .dc-modal__submit-button {
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    border: 1px solid #484849;
    background-color: #F5F1EB;
    color: #484849;
    transition: 0.25s all ease-in-out;
    border-radius: 0;
    padding: 1rem;
    font-family: GT Walsheim Pro;
    font-size: 18px;
    margin-bottom: 0;
    min-width: 240px;
    width: auto;
    line-height: 27px
  }

  .button-holder-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .dc-modal:not(.product-summary-modal) .button-holder-wrap {
    padding-top: 25px;
  }

  .button-holder-wrap .cancel-link {
    margin: 0 40px 0 0;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }


  .dc-modal__submit .dc-modal__submit-button:hover {
    background-color: white;
    color: black;
  }

  .dc-modal__heading,
  .dc-modal__content {
    max-width: 534px;
    margin-left: auto;
    margin-right: auto;
  }

  .product-summary-modal .dc-modal__content {
    max-width: 100%;
  }

  [form-errors] {
    text-align: left;
    color: red;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 5px;
  }

  div#configurator-container {
    padding-top: 125px;
    padding-bottom: 125px;
  }

  .form-control {
    display: block;
    width: 100%;
    border: 1px solid #C3C3C3;
    padding: 1.1rem 0.65rem;
    font-size: 16px;
    color: #232323;
    line-height: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 0 !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }

  form .form-control {
    font-size: 16px;
  }

  .required-txt {
    color: #DC0000;
  }
  

  div:not([class="custom-modal-header"]) .close-modal {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
  }

  body .modal-configuration .modal-title {
    font-family: Captain Cadet Display;
    font-weight: 400;
    font-size: 48px;
    line-height: 30px;
  }

  div.modal-configuration.custom-modal .modal-button {
    padding: 0;
    display: flex;
    flex-flow: row;
  }

  div.modal-configuration.custom-modal .modal-button p {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  div.modal-configuration.custom-modal p.modal-button__icon {
    padding: 0.75rem;
    line-height: 0;
    border-right: 1px solid #484849;
  }

  div.modal-configuration.custom-modal p.modal-button__text {
    padding: 0.75rem;
    display: flex;
    align-items: center;
  }

  .modal-button-black {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #000;
    padding: 1rem;
    min-width: 280px;
    display: inline-block;
  }

  .modal-button-black:hover {
    background-color: transparent;
    color: #000;
  }

  .modal-configuration .custom-modal-action {
    margin-top: 24px;
    justify-content: space-evenly;
    width: 800px;
  }


  .modal-configuration .custom-modal-dialog {
    min-height: 40vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .modal-configuration .icon-holder img {
    max-width: 100px;
    margin-bottom: 15px;
  }

  .container-door-config .jdgm-all-reviews-page__wrapper {
    max-width: 95vw;
  }

  /**********************************/

  .form-floating {
    position: relative;
  }

  .form-floating>.form-control,
  .form-floating>.form-control-plaintext,
  .form-floating>.form-select {
    height: calc(3.5rem + 2px);
    line-height: 1.25;
  }

  .form-floating>label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    font-style: normal;
    color: #5E5E5E;
    font-weight: 350;
  }

  .form-group-row .form-floating>label {
    left: 15px;
  }

  @media (prefers-reduced-motion: reduce) {
    .form-floating>label {
      transition: none;
    }
  }

  .form-floating>.form-control,
  .form-floating>.form-control-plaintext {
    padding: 1rem 0.75rem;
  }

  .form-floating>.form-control::-moz-placeholder,
  .form-floating>.form-control-plaintext::-moz-placeholder {
    color: transparent;
  }

  .form-floating>.form-control::placeholder,
  .form-floating>.form-control-plaintext::placeholder {
    color: transparent;
  }

  .form-floating>.form-control:not(:-moz-placeholder-shown),
  .form-floating>.form-control-plaintext:not(:-moz-placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
  }

  .form-floating>.form-control:focus,
  .form-floating>.form-control:not(:placeholder-shown),
  .form-floating>.form-control-plaintext:focus,
  .form-floating>.form-control-plaintext:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
  }

  .form-floating>.form-control:-webkit-autofill,
  .form-floating>.form-control-plaintext:-webkit-autofill {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
  }

  .form-floating>.form-select {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
  }

  .form-floating>.form-control:not(:-moz-placeholder-shown)~label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }

  .form-floating>.form-control:focus~label,
  .form-floating>.form-control:not(:placeholder-shown)~label,
  .form-floating>.form-control-plaintext~label,
  .form-floating>.form-select~label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }

  .form-floating>.form-control:-webkit-autofill~label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }

  .form-floating>.form-control-plaintext~label {
    border-width: 1px 0;
  }


  /********************************************/

  /* login cart buttons */

  .deskMenuItem {
    z-index: 10;
  }

  .dc-modal__submit-button:disabled {
    background: #C3C3C3;
    border: none;
  }

  .dc-modal__submit-button:disabled:hover {
    color: #fff;
  }


  #emailerror,
  #lnameerror,
  #fnameerror,
  #phoneerror {
    text-align: left;
    color: red;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 0;
  }

  @media(max-width:1366px){
    .dc-modal__container {
      padding:40px;
    }
    .dc-modal .top-heading,
    .dc-modal .top-heading {
      margin-bottom: 30px;
    }
  }

  @media (max-width:1024px){
    .dc-modal {
      width: 100%;
    }
    .dc-modal__content {
      max-height: unset;
    }

    .summary-head {
      font-size: 36px;
    }

    .dc-modal__params{
      padding-left: 0;
      max-height: 690px;
    }

    .dc-modal__param {
      margin-left: 0;
    }

    .dc-modal__param p {
      font-size: 13px;
    }

    .dc-modal__submit .dc-modal__submit-button {
      font-size: 14px;
    }
  }

  @media (max-width:991px) {
    .dc-modal__param p {
      font-size: 13px;
    }

  }

  @media (max-width:767px) {
    .dc-modal {
      height: auto;
    }

    .dc-modal__image {
      width: 100%;
      margin-bottom: 24px;
    }

    .dc-modal__image img {
      max-width: 277px;
      display: block;
      margin: 0 auto;
    }

    .dc-modal__params {
      width: 100%;
      padding-left: 0;
      flex-wrap: nowrap;
    }

    .dc-modal .top-heading,
    .summary-head {
      font-size: 24px;
    }

    .dc-modal .sub-head-section h3 {
      font-size: 24px;
    }

    .dc-modal .sub-head-section span {
      margin-bottom: 24px;
    }

    .dc-modal .top-heading {
      font-size: 14px;
      margin-left: -20px;
      margin-right: -20px;
      margin-top: -50px;
      padding-top: 30px;
      padding-left: 45px;
      padding-right: 45px;
    }

    .dc-modal__container {
      padding: 50px 20px 20px 20px;
    }

    .custom-modal-content {
      padding: 0 !important;
    }

    div.modal-configuration.custom-modal .modal-button {
      width: 100%;
    }

    .dc-modal__close {
      right: 6px;
      top: 6px;
    }

    .dc-modal__heading,
    .dc-modal__content {
      max-width: 100%;
    }

    .product-summary-modal .dc-modal__container {
      padding: 20px;
    }

    .product-summary-modal .dc-modal__submit {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .dc-modal__submit .dc-modal__submit-button {
      font-size: 14px;
    }

    .button-holder-wrap {
      flex-direction: column;
    }

    .button-holder-wrap .cancel-link {
      margin: 0 0 25px 0;
    }

    .dc-modal__submit-info {
      padding: 0 10px;
    }

    .dc-modal--active {
      align-items: center;
    }

    .config-modal-active #configurator-container {
      height: 1600px;
    }

    .config-modal-active #configurator-container.firstpop {
      height: 1200px;
    }

    .config-modal-active .dc-modal {
      height: 1450px;
    }

    .config-modal-active .dc-modal.firstpop  {
      height: 1000px;
    }

  }

  @media (max-width:640px) {

    .form-group-row .form-floating {
      width: 100%;
      flex: unset;
    }

    .dc-modal__param p {
      font-size: 14px;
    }
  }
</style>

<div id='judgeme_all_reviews_page' class="page clearfix jdgm-all-reviews-page">
  <div class="jdgm-all-reviews-page__wrapper">
    <div id="configurator-container">


      <div class="toolbar_modal">
        {% include 'custom_toolbar_modal' %}
      </div>

      <div class="custom-modal text-center modal-configuration" id="configuration-modal" data-animation="slideInOutLeft">
        <div class="custom-modal-dialog arrow-box-left">
          <div class="custom-modal-dialog-holder">
            <button class="close-modal config-modal-close" aria-label="close modal" data-close>
              ✕
            </button>
            <div class="custom-modal-content">
              <div class="custom-modal-content-holder">
                <h2 class="modal-title">Configuration Sent</h2>
                <p>Thank you for choosing Weldwork.</p>
                <p>One of our team members will reach out to you within 24 hours to discuss your project.</p>
                <div class="custom-modal-action">
                  <a href="https://www.roomle.com/t/cp/ar.html?id=weldwork%3Adoor_system%3A58E37EF3D84C8AA555D4132D8FC19947C3739B2A865A8EF8F52667F3A4EBCF60&configuratorId=demoConfigurator" target="_blank" class="modal-button">
                    <p class="modal-button__icon">
                      <svg width="36" height="36" viewBox="0 0 20 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.35449 28.2499C5.27956 28.3937 4.49219 27.7775 4.49219 27.0244V3.05403C4.49219 2.3009 5.10839 1.68469 5.86153 1.68469H16.9464C17.6995 1.68469 18.3157 2.3009 18.3157 3.05403V27.0244C18.3157 27.7775 17.6995 28.3937 16.9464 28.3937H10.3187" stroke="#484849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.16309 6.19666H18.1718" stroke="#484849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10.6406 23.9982H18.172" stroke="#484849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.16309 23.9982H6.35441" stroke="#484849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10.6406 4.1427H12.01" stroke="#484849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11.4072 26.73C11.7551 26.73 12.0371 26.448 12.0371 26.1001C12.0371 25.7522 11.7551 25.4702 11.4072 25.4702C11.0594 25.4702 10.7773 25.7522 10.7773 26.1001C10.7773 26.448 11.0594 26.73 11.4072 26.73Z" stroke="#484849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.35449 28.0857V26.2987V20.6091C6.35449 19.5479 7.23087 18.692 8.31265 18.692C9.39443 18.692 10.2708 19.5547 10.2708 20.6091V28.0857" stroke="#484849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10.5381 28.3937C10.5381 28.3937 10.6682 29.229 11.2022 34.0354" stroke="#484849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.49954 17.3295L1.93887 24.8129C1.41852 25.9632 1.78139 27.935 2.34282 28.7977L4.63647 34.0354" stroke="#484849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14.749 34.2682V28.3937" stroke="#484849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.3162 19.8901H14.8586V9.62H7.90234V18.685" stroke="#484849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </p>
                    <p class="modal-button__text">View your door in your space</p>
                  </a>
                  <a href="https://www.weldwork.com/pages/door-configurator" target="_blank" class="modal-button" >
                    <p class="modal-button__icon">
                      <svg width="36" height="36" viewBox="0 0 36 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.3096 4.07617H31.6862" stroke="#484849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M35.235 4.07617V26.4642C35.235 27.9928 34.0113 29.228 32.497 29.228H1.52947C1.10882 29.228 0.764648 28.8806 0.764648 28.456V4.84817C0.764648 4.42357 1.10882 4.07617 1.52947 4.07617H6.29428" stroke="#484849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M35.2353 26.2867L34.5852 25.5456C33.8739 24.735 32.8108 24.2641 31.6865 24.2641V1.51318H32.4437C33.981 1.51318 35.2353 2.77155 35.2353 4.33099V26.2867Z" stroke="#484849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M27.7863 22.998H6.82265C6.53202 22.998 6.29492 22.7586 6.29492 22.4653V1.30469C6.29492 0.833772 6.86089 0.594451 7.19741 0.926412L28.1611 22.087C28.49 22.4189 28.2605 22.998 27.7863 22.998Z" stroke="#484849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17.0406 17.4936H11.3504C11.2739 17.4936 11.2051 17.4318 11.2051 17.3469V11.6032C11.2051 11.4719 11.358 11.4102 11.4498 11.5028L17.1401 17.2465C17.2318 17.3392 17.163 17.4936 17.0406 17.4936V17.4936Z" stroke="#484849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9.76758 22.666V21.1219" stroke="#484849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.0615 22.666V21.1219" stroke="#484849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M15.1211 22.666V21.1219" stroke="#484849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17.415 22.666V21.1219" stroke="#484849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M20.4746 22.666V21.1219" stroke="#484849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M22.7695 22.666V21.1219" stroke="#484849" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </p>
                    <p class="modal-button__text">Build another door or partition</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="design-config" class="dc-form__inline dc-modal firstpop" data-modal>
        <div class="dc-modal__content" data-modal-content>
          <div  style="display:none" id="top-heading" class="top-heading">You’re about to build your dream door! Fill in the form to
            continue.</div>
          <div class="summary-head" id="summary-head" style="display:none">
            <span>Your Build Summary</span>
          </div>
          <div class="sub-head-section" id="contact-head">
            <h3>Receive Your Specs</h3>
            <span>In order to help us better assist you, please fill out the contact form below</span>
          </div>


          {% form 'contact'  %}

            <div id="dc-modal__image" class="dc-modal__image" style="display:none;">
              <img form-image src="" alt="">
            </div>
            <div style="display:none;" id="dc-modal__summary" class="dc-modal__params" form-params></div>

            <div class="message" style="display:none;">
              <label for="message">Message</label>
              <textarea name="contact[body]" id="message"></textarea>
            </div>

            <div class="dc-modal__submit">
              <div id="dc-modal__contact-info" class="dc-modal__submit-info" form-info>
                <div class="form-group-row">
                  <div class="form-floating">
                    <input onkeyup="checkData()" id="fname" class="form-control" type="text"
                          name="contact[first_name]" placeholder="First Name*">
                    <label for="floatingInput">First Name <span class="required-txt">*</span></label>
                    <p class="error" id="fnameerror"></p>

                  </div>
                  <div class="form-floating">
                    <input onkeyup="checkData()" id="lname" class="form-control" type="text"
                          name="contact[last_name]" placeholder="Last Name*">
                    <label for="floatingInput">Last Name <span class="required-txt">*</span></label>
                    <p class="error" id="lnameerror"></p>
                  </div>
                </div>
                <div class="form-floating">
                  <input onkeyup="checkData()" id="cemail" class="form-control" type="email" name="contact[email]"
                        placeholder="Email Address*">
                  <label for="floatingInput">Email address <span class="required-txt">*</span></label>
                  <p class="error" id="emailerror"></p>
                </div>
                <div class="form-floating">
                  <input onkeyup="checkData()" id="telnum" class="form-control" type="tel" name="contact[phone]"
                        placeholder="Contact Number*">
                  <label for="floatingInput">Phone Number <span class="required-txt">*</span></label>
                  <p class="error" id="phoneerror"></p>
                </div>

                <div class="form-floating">
                  <input onkeyup="checkData()" id="ProjectAddress" class="form-control" type="text"
                        name="contact[Project_Address]" placeholder="ProjectAddress Address*">
                  <label for="floatingInput">Project Address <span class="required-txt">*</span></label>
                  <p class="error" id="ProjectAddresserror"></p>
                </div>
              </div>
              <p form-errors></p>

              <div class="button-holder-wrap">
                <a id="psm-cancel" style="display:none;" class="cancel-link dc-modal__submit-button">Go Back</a>
                <a id="final-cancel" style="display:none;" class="cancel-link dc-modal__submit-button">Go Back</a>
                <input type="submit" disabled id="dc-modal__final-submit" class="dc-modal__submit-button"
                      value="Submit">
                <input type="button" style="display:none;" id="dc-modal__popup-submit"
                      class="dc-modal__submit-button" value="Continue">
              </div>
            </div>
          {% endform %}
        </div>
      </div>
      
    </div>
  </div>
</div>

{% comment %} <div class="custom-modal text-center modal-configuration" id="configuration-modal" data-animation="slideInOutLeft">
  <div class="custom-modal-dialog arrow-box-left">
    <div class="custom-modal-dialog-holder">
      <button class="close-modal config-modal-close" aria-label="close modal" data-close>
        ✕
      </button>
      <div class="custom-modal-content">
        <div class="custom-modal-content-holder">modal-button__icon
          <div class="icon-holder"><img
              src="https://cdn.shopify.com/s/files/1/0580/5994/8228/files/check-circle-icon.svg?v=1658235413">
          </div>
          <h2 class="modal-title">Configuration Sent</h2>
          <p>Thank you for choosing Weldwork. One of our team members will reach out to you within 24 hours to discuss your project.</p>
          <div class="custom-modal-action">
            <a href="https://www.roomle.com/t/cp/ar.html?id=weldwork%3Adoor_system%3A58E37EF3D84C8AA555D4132D8FC19947C3739B2A865A8EF8F52667F3A4EBCF60&configuratorId=demoConfigurator" target="_blank" class="modal-button-black">Click here to see your door in your space</a>
          </div>
          <div class="custom-modal-action">
            <a href="https://www.weldwork.com/pages/door-configurator" target="_blank" class="modal-link" > Build another door or partition</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}




<script src="https://cdn.shopify.com/s/files/1/0580/5994/8228/files/roomle-configurator-api.es.min.js?v=1646910774"
        type="module"></script>
{% comment %}
<script src="../assets/roomle-configurator-api.es.min.js" type="module"></script>{% endcomment %}

<!-- DoorConfig Modal -->
<!-- {% form 'contact' %}
    {{ form.errors | default_errors }}
    <div class="first-name">
        <label for="first-name">First name</label>
        <input type="text" name="contact[first_name]" id="first-name" />
    </div>
    <div class="phone">
        <label for="phone">Phone</label>
        <input type="tel" name="contact[phone]" id="phone" />
    </div>
    <div class="email">
        <label for="email">Email</label>
        <input type="email" name="contact[email]" id="email" />
    </div>
    <div class="message">
        <label for="message">Message</label>
        <textarea name="contact[body]" id="message"></textarea>
    </div>
    <div class="submit">
        <input type="submit" value="Create" />
    </div>
{% endform %} -->



<script type="module">
  import roomleEmbeddingLib from 'https://cdn.skypack.dev/@roomle/embedding-lib';
  import roomleWebSdk from 'https://cdn.skypack.dev/@roomle/web-sdk';
  // import RoomleConfiguratorApi from './@roomle/RoomleConfiguratorApi';
  import RoomleConfiguratorApi from 'https://cdn.shopify.com/s/files/1/0580/5994/8228/files/roomle-configurator-api.es.min.js?v=1646910774';

  (async () => {
    const options = {
      id: 'weldwork:door_system',
      unit: 'inchfeet',
      precisionInch: 'X',
    };
    const configurator = await RoomleConfiguratorApi.create(
      'demoConfigurator',
      document.getElementById('configurator-container'),
      options,
    );

    const modal = document.querySelector('[data-modal]');
    const modalContent = modal.querySelector('[data-modal-content]');
    const form = modalContent.querySelector('form');
    const imageElement = form.querySelector('[form-image]');
    const paramsElement = form.querySelector('[form-params]');
    const infoElement = form.querySelector('[form-info]');
    const errorsElement = form.querySelector('[form-errors]');
    const inputs = infoElement.querySelectorAll('input');
    const continueButton = modalContent.querySelector("#dc-modal__popup-submit");
    const finalCancel = document.getElementById("final-cancel");
    const formSubmitButton = modalContent.querySelector("#dc-modal__final-submit");
    const emailValidation = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    const phoneValidation = /^\(?(\d{3})\)?[- ]?(\d{3})[- ]?(\d{4})$/;

    const doorConfigFrame = document.querySelector('rml-container');
    console.log("here");
    

    const createForm = (image, partlist, configuration) => {
      console.log(partlist.fullList[0].parameters)
      imageElement.src = image.image;
      imageElement.alt = configuration.label;

      partlist.fullList[0].parameters.forEach(param => {
        const paraContainer = document.createElement('div');
        paraContainer.classList.add('dc-modal__param');

        const paraLabel = document.createElement('p');
        paraLabel.classList.add('dc-modal__param-label');
        paraLabel.innerText = param.label.toLowerCase();
        paraContainer.appendChild(paraLabel);

        const paraValue = document.createElement('p');
        paraValue.classList.add('dc-modal__param-value');
        paraValue.innerText = param.valueLabel;
        paraContainer.appendChild(paraValue);

        const paraInput = document.createElement('input');
        console.log(param.label)
        paraInput.type = 'hidden';
        paraInput.name = `contact[${param.label.toLowerCase().replace(' ', '_')}]`;
        paraInput.value = param.valueLabel;
        paraContainer.appendChild(paraInput);

        paramsElement.appendChild(paraContainer);
      });
    };

    const inputInfoValidator = inputs => {
      const validations = Array.from(inputs).map(input => {
        if (dConfigPopup) {
          return true;
        }
        if (input.value.length > 2)
          if (input.type === 'text') {
            return input.value.length > 2;
          } else if (input.type === 'email') {
            return emailValidation.test(input.value)
          } else if (input.type === 'tel') {
            return phoneValidation.test(input.value)
          }
          else
            return false;
      });

      return validations;
    }

    const returnSummary = () => {
      var element = document.getElementById("design-config");
      var wrapper = document.getElementById("configurator-container");
      element.classList.add("product-summary-modal");
      element.classList.remove("firstpop");
      wrapper.classList.add("product-summary-modal");
      wrapper.classList.remove("firstpop");
      const targetDiv = document.getElementById("summary-head");
      const cancelDiv = document.getElementById("psm-cancel");
      const finalCancel = document.getElementById("final-cancel");
      const contactHead = document.getElementById("contact-head");
      const contactDiv = document.getElementById("top-heading");
      const modalsummary = document.getElementById("dc-modal__summary");
      const contactfrminfo = document.getElementById("dc-modal__contact-info");
      const modalImage = document.getElementById("dc-modal__image");
      const fnameval = document.getElementById("fname").value;
      targetDiv.style.display = "block"
      modalsummary.style.display = "flex";
      cancelDiv.style.display = "block";
      modalImage.style.display = "block";
      contactDiv.style.display = "none";
      finalCancel.style.display = "none"
      contactfrminfo.style.display = "none";
      contactHead.style.display = "none";

      document.getElementById("dc-modal__popup-submit").style.display = "block";
      document.getElementById("dc-modal__final-submit").style.display = "none";

    }

    const showContactForm = () => {
      var element = document.getElementById("design-config");
      var wrapper = document.getElementById("configurator-container");
      element.classList.remove("product-summary-modal");
      element.classList.add("firstpop");
      wrapper.classList.remove("product-summary-modal");
      wrapper.classList.add("firstpop");
      const targetDiv = document.getElementById("summary-head");
      const cancelDiv = document.getElementById("psm-cancel");
      const finalCancel = document.getElementById("final-cancel");
      const contactHead = document.getElementById("contact-head");
      const contactDiv = document.getElementById("top-heading");
      const modalsummary = document.getElementById("dc-modal__summary");
      const contactfrminfo = document.getElementById("dc-modal__contact-info");
      const modalImage = document.getElementById("dc-modal__image");
      const fnameval = document.getElementById("fname").value;
      targetDiv.style.display = "none"
      modalsummary.style.display = "none";
      cancelDiv.style.display = "none";
      modalImage.style.display = "none";
      contactDiv.style.display = "none";
      finalCancel.style.display = "block"
      contactfrminfo.style.display = "block";
      contactHead.style.display = "block";

      document.getElementById("dc-modal__popup-submit").style.display = "none";
      document.getElementById("dc-modal__final-submit").style.display = "block";
    }

    const populateContactForm = () => {
      document.getElementById('cemail').value = readCookie('cemail');
      document.getElementById('telnum').value = readCookie('telnum');
      document.getElementById("fname").value = readCookie('fname');
      document.getElementById("lname").value = readCookie('lname');
      document.getElementById("ProjectAddress").value = readCookie('ProjectAddress');
    }

    configurator.ui.callbacks.onRequestProduct = (configurationId, image, partlist, price, labels, configuration) => {
      modal.classList.add('dc-modal--active');
      createForm(image, partlist, configuration);
      var element = document.getElementById("design-config");
      var wrapper = document.getElementById("configurator-container");
      element.classList.add("product-summary-modal");
      element.classList.remove("firstpop");
      wrapper.classList.add("product-summary-modal");
      wrapper.classList.remove("firstpop");
      const targetDiv = document.getElementById("summary-head");
      const cancelDiv = document.getElementById("psm-cancel");
      const finalCancel = document.getElementById("final-cancel");
      const contactHead = document.getElementById("contact-head");
      const contactDiv = document.getElementById("top-heading");
      const modalsummary = document.getElementById("dc-modal__summary");
      const contactfrminfo = document.getElementById("dc-modal__contact-info");
      const modalImage = document.getElementById("dc-modal__image");
      const fnameval = document.getElementById("fname").value;
      targetDiv.style.display = "block";
      modalsummary.style.display = "flex";
      cancelDiv.style.display = "block";
      modalImage.style.display = "block";
      finalCancel.style.display = "none"
      contactDiv.style.display = "none";
      contactfrminfo.style.display = "none";
      contactHead.style.display = "none";
      document.getElementById("dc-modal__final-submit").disabled = false;
      document.getElementById("dc-modal__popup-submit").style.display = "block";
      document.getElementById("dc-modal__final-submit").style.display = "none";

      if ( !document.querySelector('body').classList.contains('config-modal-active') ) {
        document.querySelector('body').classList.add('config-modal-active');
      }
    };

    modal.addEventListener('click', (e) => {
      const target = e.target;

      if (target.closest('[data-modal-close]') || target.classList.contains('dc-modal--active')) {
        paramsElement.innerHTML = '';
        // inputs.forEach(input => input.value = '');
        errorsElement.innerHTML = '';
        modal.classList.remove('dc-modal--active');

        var element2 = document.getElementById("design-config");
        element2.classList.remove("product-summary-modal");


      }
      if (target.closest('[data-modal-close]') && modal.classList.contains('firstpop')) {
        var element3 = document.getElementById("modal1");
        element3.classList.add("is-visible");

      }
    });

    continueButton.addEventListener('click', e => {
      e.preventDefault();
      console.log(continueButton)
      populateContactForm();
      showContactForm()
    })

    finalCancel.addEventListener('click', e => {
      e.preventDefault();
      console.log(finalCancel);
      returnSummary()
      
    })

    formSubmitButton.addEventListener('click', e => {
      e.preventDefault();
      console.log('form submit!')
      doValidate();
    })

    form.addEventListener('submit', e => {
      e.preventDefault();
      const validated = inputInfoValidator(inputs);

      errorsElement.innerHTML = '';

      if (validated.every(validation => validation)) {

        const formSplit = $(form).serialize().split('&');
        let formData = ``;
        const message = document.querySelector('#message');
        formSplit.forEach(input => {
          const [key, value] = input.split('=');
          // formData[key] = value.normalize();
          formData += `${key}: ${value} \n`;
        });
        console.log("🚀 ~ file: page.door-config.liquid ~ line 153 ~ formData", formData)

        message.innerText = formData;

        console.log(message, message.innerText);

        form.submit();

      } else {
        validated.forEach((input, i) => {
          if (!input) {

            if (i === 0) {
              const error = document.createElement('p');
              error.innerText = 'Your first name is required and larger than 2 characters';
              error.focus();
              errorsElement.appendChild(error);
            } else if (i === 1) {
              const error = document.getElementById('lnameerror');
              error.innerText = 'Your last name is required and larger than 2 characters';
              errorsElement.appendChild(error);
            } else if (i === 2) {
              error.innerText = 'Your email is required and valid';
              errorsElement.appendChild(error);
            } else if (i === 3) {
              error.innerText = 'Your phone is required and valid (10 digits)';
              errorsElement.appendChild(error);
            }

            else if (i === 4) {
              error.innerText = 'Your Project Address is required and valid ';
              errorsElement.appendChild(error);
            }
          }
        })
      }

    })
  })();
</script>

<script>

  function validateEmail(email) { //Validates the email address
    var emailRegex = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    return emailRegex.test(email);
  }

  function validatePhone(phone) { //Validates the phone number
    // var phoneRegex = /^(\+91-|\+91|0)?\d{10}$/; // Change this regex based on requirement
    var phoneRegex = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im; // Change this regex based on
    return phoneRegex.test(phone);
  }
  function doValidate() {
    let isValid = true;

    if (!validateEmail(document.getElementById('cemail').value)) {

      const error = document.getElementById('emailerror');
      error.innerText = 'Invalid email';
      isValid = false;
    } else {
      document.getElementById('emailerror').innerText = '';
    }
    if (!validatePhone(document.getElementById('telnum').value)) {
      const error = document.getElementById('phoneerror');
      error.innerText = 'Invalid Phone Number';
      isValid = false;
    } else {
      document.getElementById('phoneerror').innerText = '';
    }

    if (document.getElementById("fname").value.length <= 2) {
      const error = document.getElementById('fnameerror');
      error.innerText = 'First name must be larger than 2 characters';
      isValid = false;
    } else {
      document.getElementById('fnameerror').innerText = '';
    }
    if (document.getElementById("lname").value.length <= 2) {
      const error = document.getElementById('lnameerror');
      error.innerText = 'Last name must be larger than 2 characters';
      isValid = false;
    } else {
      document.getElementById('lnameerror').innerText = '';
      //return true;
    }

    if (document.getElementById("ProjectAddress").value.length <= 2) {
      const error = document.getElementById('ProjectAddresserror');
      error.innerText = 'Last name must be larger than 2 characters';
      isValid = false;
    } else {
      document.getElementById('ProjectAddresserror').innerText = '';
      //return true;
    }


    if ((validateEmail(document.getElementById('cemail').value)) && (validatePhone(document.getElementById('telnum').value)) && (document.getElementById("fname").value.length > 2) && (document.getElementById("lname").value.length > 2) && (document.getElementById("ProjectAddress").value.length > 2))   {
      //const modal = document.querySelector('[data-modal]');
      // modal.classList.remove('dc-modal--active');
      //jQuery(".dc-modal__close").trigger("click")
    }
    doorConfigPopupCookie();
console.log("isValid", isValid)
    if (isValid) {
      const modal = document.querySelector('[data-modal]');
      const modalContent = modal.querySelector('[data-modal-content]');
      const form = modalContent.querySelector('form');
      console.log("form", form)
      form.submit();
    }
  }

  function checkData() {
    var fname = document.getElementById("fname");
    var lname = document.getElementById("lname");
    var email = document.getElementById("cemail");
    var telnum = document.getElementById("telnum");
    var ProjectAddress = document.getElementById("ProjectAddress");
    if (fname.value != "" && lname.value != "" && email.value != "" && telnum.value != "" && ProjectAddress.value != "") {
      document.getElementById("dc-modal__popup-submit").disabled = false;
    }
  }


  const openEls = document.querySelectorAll("[data-open]");
  const closeEls = document.querySelectorAll("[data-close]");
  const isVisible = "is-visible";

  for (const el of openEls) {
    el.addEventListener("click", function () {
      const modalId = this.dataset.open;
      document.getElementById(modalId).classList.add(isVisible);
      jQuery("body").addClass("modalopned");

    });
  }

  for (const el of closeEls) {
    el.addEventListener("click", function () {
      document.querySelector(".custom-modal.is-visible").classList.remove(isVisible);
      jQuery("body").removeClass("modalopned");
    });
  }
  jQuery(document).on("click", "#psm-cancel", function () {
    jQuery('.dc-modal__params').text('');
    const modal = document.querySelector('[data-modal]');
    modal.classList.remove('dc-modal--active');

    if ( document.querySelector('body').classList.contains('config-modal-active') ) {
      document.querySelector('body').classList.remove('config-modal-active');
    }
  })

  // document.addEventListener("click", (e) => {
  //     if (e.target == document.querySelector(".custom-modal.is-visible")) {
  //         document.querySelector(".custom-modal.is-visible").classList.remove(isVisible);
  //         jQuery("body").removeClass("modalopned");
  //     }
  // });

  document.addEventListener("keyup", (e) => {
    // if we press the ESC
    if (e.key == "Escape" && document.querySelector(".custom-modal.is-visible")) {
      document.querySelector(".custom-modal.is-visible").classList.remove(isVisible);
      jQuery("body").removeClass("modalopned");
    }
  });
  if (window.matchMedia('(min-width: 1009px)').matches) {


    jQuery(document).on("click", ".custom-modal .button-step-1", function () {
      jQuery('.bullets a').removeClass("active");
      jQuery('.bullets a:nth-child(2)').addClass("active");
      jQuery(this).removeClass("button-step-1").addClass("button-step-2");
      jQuery(".custom-modal").removeClass("step-1").addClass("step-2");
    })
    jQuery(document).on("click", ".custom-modal .button-step-2", function () {
      jQuery('.bullets a').removeClass("active");
      jQuery('.bullets a:nth-child(3)').addClass("active");
      jQuery(this).removeClass("button-step-2").addClass("button-step-3").html("Done")
      jQuery(".custom-modal").removeClass("step-2").addClass("step-3");
    })

    jQuery(document).on("click", ".custom-modal .button-step-3", function () {
      document.querySelector(".custom-modal.is-visible").classList.remove(isVisible);
      jQuery("body").removeClass("modalopned");
    })

    jQuery('.bullets a').click(function () {
      jQuery('.bullets a').removeClass("active");
      jQuery(this).addClass("active");
    });

  }
  jQuery(document).on("click", ".config-modal-close", function () {
    window.location.href="/pages/door-configurator";
  })
  function parse_query_string(query) {
    var vars = query.split("&");
    var query_string = {};
    for (var i = 0; i < vars.length; i++) {
      var pair = vars[i].split("=");
      var key = decodeURIComponent(pair.shift());
      var value = decodeURIComponent(pair.join("="));
      // If first entry with this name
      if (typeof query_string[key] === "undefined") {
        query_string[key] = value;
        // If second entry with this name
      } else if (typeof query_string[key] === "string") {
        var arr = [query_string[key], value];
        query_string[key] = arr;
        // If third or later entry with this name
      } else {
        query_string[key].push(value);
      }
    }
    return query_string;
  }

  const urlParams = new URLSearchParams(window.location.search);
  const myParam = urlParams.get('contact_posted');
  if (myParam == 'true') {
    jQuery("#configuration-modal").addClass("is-visible");
    const modal = document.querySelector('[data-modal]');
    //modal.classList.remove('dc-modal--active');
  } else {
    jQuery("#configuration-modal").removeClass("is-visible");
    const modal = document.querySelector('[data-modal]');
    //modal.classList.add('dc-modal--active');
  }
  window.onclick = function(event) {
    if(event.target === document.querySelector('.firstpop')) {
      const modal = document.querySelector('[data-modal]');
      modal.classList.add('dc-modal--active');

      if ( !document.querySelector('body').classList.contains('config-modal-active') ) {
        document.querySelector('body').classList.add('config-modal-active');
      }
    }  };
  $(document).ready(function() {
    $(window).keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        doValidate(event);
        return false;
      }
    });
  });


  function doorConfigPopupCookie() {
    var cemail = document.getElementById('cemail').value
    var telnum = document.getElementById('telnum').value
    var fname = document.getElementById("fname").value
    var lname = document.getElementById("lname").value
    var ProjectAddress = document.getElementById("ProjectAddress").value

    var days = 14; //number of days until they must go through the checker again.
    var date = new Date();
    date.setTime(date.getTime()+(days*24*60*60*1000));
    var expires = "; expires="+date.toGMTString();
    document.cookie = 'dConfigPopup=true;'+expires+"; path=/";
    document.cookie = "cemail="+cemail+";"+expires+"; path=/";
    document.cookie = "telnum="+telnum+";"+expires+"; path=/";
    document.cookie = "fname="+fname+";"+expires+"; path=/";
    document.cookie = "lname="+lname+";"+expires+"; path=/";
    document.cookie = "ProjectAddress="+ProjectAddress+";"+expires+"; path=/";

  };
  function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  };
  var dConfigPopup = readCookie('dConfigPopup');
  if (dConfigPopup) {
    //document.write("<style> #design-config.firstpop  { display: none; }</style>");
  };
</script>
</div>