            <style>
            .Image_Section {
            display: flex;
            position: relative;
            width: 82%;
            margin: 0 auto;
            height: 24vw;
            }
            .First_Image {
            position: absolute;
            top: -8vw;
            left: 0;
            width: 42%;
            }
            .Second_Image {
            position: absolute;
            width: 21%;
            top: -4vw;
            left: 39vw;

            }
            .Third_Image{
            position: absolute;
            top: -9.9vw;
            right: 0vw;
            width: 26%;
            }

@media only screen and (max-width: 768px) {

  .Image_Section {height: 60vw;}
.First_Image {
    position: absolute;
    top: -8vw;
    left: -116px;
    width: 73%;
}

  .Third_Image {
    display: none;
}
.Second_Image {
    position: absolute;
    width: 52%;
    top: -5vw;
    left: 48vw;
}
}


@media only screen and (max-width: 440px) {

 
.First_Image {
    position: absolute;
    top: -8vw;
    left: -116px;
    width: 89%;
}


}
              
              
            </style>

            <div class="Image_Section">

            <div class="First_Image">

            <img src="{{section.settings.photo1|img_url:'master'}}" alt="Snow" style="width:100%;">
            </div>

            <div class="Second_Image">

            <img src="{{section.settings.photo2|img_url:'master'}}" alt="Snow" style="width:100%;">
            </div>

            <div class="Third_Image">

            <img src="{{section.settings.photo3|img_url:'master'}}" alt="Snow" style="width:100%;">
            </div>

            </div>{% schema %}
            {
            "name": "ImageSection",
            "settings": [
            {
            "id":"photo1",
            "type":"image_picker",
            "label":"Your Image"

            },
            {
            "id":"photo2",
            "type":"image_picker",
            "label":"Your Image"

            },

            {
            "id":"photo3",
            "type":"image_picker",
            "label":"Your Image"

            }

            ]
            }
            {% endschema %}

            {% stylesheet %}
            {% endstylesheet %}

            {% javascript %}
            {% endjavascript %}