@media only screen and (min-width: 1009px) {
  .mobileClass.mobileClass.mobileClass {
      display: none;
  }
}
@media only screen and (max-width: 1009px) {
  .template-list-collections main .shopify-section, .template-page main > .grid {
	max-width: 1440px;
  	padding: 80px 20px;
}
  .tabText2 {
  	display: none;
  }
  .desktopClass.desktopClass.desktopClass {
  	display: none;
  }
  .slickSlideMob {
  	padding: 0!important;
  }
  .slickDivMainHome .slickSlideMob {
  	margin-right: 29px;
  }
  .lineWithNumbers {
  	margin-left: 20px;
    width: 35px;
    margin-bottom: 12px;
  }
  .lineWithNumbers div {
  	order: 1;
  }
  .lineWithNumbers div:last-child {
  	order: 0;
  }
  .slickNumbersHomeMain {
    margin-left: 20px;
  	display: flex;
  }
  .slickNumbersHomeMain .slickNumber {
	font-size: 12px;
  	line-height: 15.6px;
    letter-spacing: 0.35px;
    margin-bottom: 0;
    margin-right: 18px;
    color: #848484;
    cursor: pointer;
  }
  .slickNumbersHomeMain .slickNumber.active {
  	color: #000;
  }
  
  
  .accordion {
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  padding: 32px 0;
  width: 100%;
  border-top: 1px solid rgba(195, 195, 195, .5);
  text-align: left;
  outline: none;
  font-size: 24px;
  line-height: 26.4px;
  transition: 0.6s ease-out;
  padding-right: 80px;
  position: relative;
}
  .accordion:last-of-type {
  	  border-bottom: 1px solid rgba(195, 195, 195, .5);
  }
  .accordionNumber {
  	display: block;
    margin-bottom: 8px;
  }
.active, .accordion:hover {
  background-color: transparent;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: 100;
  font-size: 54px;
  line-height: 30px;
  float: unset;
  margin-left: 5px;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.accordion.active:after {
  content: "\2212";
}

.panel {
  padding: 0vw 0px 0vw 0px;
  display: flex;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: all 0.6s ease-out;
}
  .accordion.accHidden, .panel.accHidden {
  	display: none;
  }
  .accordionNumber {
  	padding-right: 9.93vw;
    color: #5E5E5E;
  }
  .panel .accordionNumber {
  	padding-right: 9.93vw;
    font-size: 2.22vw;
  line-height: 2.44vw;
    color: transparent;
    display: none;
  }
  .panel p {
  	margin-bottom: 34px;
  }
  .leftPart {
    width: 6.11%;
    border-right: 1px solid rgba(195, 195, 195, .5);
  }
  .centerPart {
  	width: 87.78%;
  }
  .rightPart {
    width: 6.11%;
    border-left: 1px solid rgba(195, 195, 195, .5);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    display: none!important;
  }
  .mainHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
  }
  .mainHeader .leftPart {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    width: 69px;
    padding: 0;
    height: 56px;
    border-right: 0;
    border-left: 1px solid rgba(195, 195, 195, .5);
  }
  .mainHeader .leftPart svg {
  	width: 1.8vw;
  }
  .mainHeader .leftPart svg rect {
  	fill: black;
  }
  .mainHeader .leftPart svg rect:after {
    fill: rgb(0,255,255);
    mix-blend-mode: difference;
  }
  .mainHeader .centerPart {
    padding: 2.5vw 0;
  	display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .mainContainer {
  	display: flex;
    justify-content: center;
  }
  .deskMenuItem {
    position: absolute;
    top: 2.56vw;
  	right: 2.5vw;
    display: flex;
    align-items: center;
    right: calc(6.11vw + 2.56vw + 12.01vw);
  }
  .cartLink {
  	right: calc(6.11vw + 2.56vw);
  }
  .deskMenuItem a {
  	display: flex;
    align-items: center;
  }
  .logoContainer {
  	position: fixed;
    top: 0;
    left: 0;
    height: 1px;
    width: 100vw;
    border-bottom: 1px solid rgba(195, 195, 195, .5);
    z-index: 12;
    height: 55px;
  }
  .deskMenuItem a svg {
  	margin-right: 1vw;
  }
  .logoMain {
  	position: fixed;
    height: 18px;
    left: 20px;
    top: 19px;
   	width: 142px;
    z-index: 20;
    mix-blend-mode: difference;
    cursor: pointer;
    content: url(https://cdn.shopify.com/s/files/1/0580/5994/8228/files/Logo_White.png?v=1644327721)!important;
  }
  .hambMenu {
  	position: fixed;
    height: 56px;
    right: 0;
    top: 0;
    padding: 23px 22px;
    width: 69px;
    z-index: 20;
    mix-blend-mode: difference;
    cursor: pointer;
    transition: all 0.6s ease-out;
  }
  .hambMenu:hover {
    padding: 20px 22px;
  }
  .menuHolder {
  	width: 100vw;
    height: 100vh;
    background: black;
    transform: translateX(-100%);
    position: fixed;
    top:0;
    z-index: 11;
    padding: 0;
    overflow: scroll;
  }
  .menuHolder.unactive {
    -webkit-animation: animateThis2 0.6s ease-out;
  	-webkit-animation-fill-mode: forwards;
  }
  .menuHolder.active {
  	transform: translateX(0%);
    -webkit-animation: animateThis 0.6s ease-out;
  	-webkit-animation-fill-mode: forwards;
  }
  .hambMenu.active {
  	content: url(https://cdn.shopify.com/s/files/1/0580/5994/8228/files/Menu_Hamb_1.png?v=1636642856);
    padding: 18px 25px!important;
    border-left: 1px solid rgba(195, 195, 195, .5);
  }
  .mainLink {
  	display: block;
    color: #fff;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 24px;
    letter-spacing: 0;
    cursor: pointer;
  }
  .secondLink {
  	display: block;
    color: #C3C3C3;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 24px;
  }
  .bottomLinks {
  	display: flex;
    justify-content: flex-start;
    margin-top: 56px;
    padding: 0 20px;
    padding-bottom: 10px;
  }
  .twoLinks {
  	margin-right: 5.28vw;
  }
  .menuRow {
  	display: flex;
    flex-wrap: wrap;
  }
  .menuHolder .leftleftSide {
    min-width: 20px;
  	border-right: 0;
    display: none;
  }
  .menuHolder .leftSide {
  	width: 100%;
    padding: 178px 20px 0 20px;
    padding-bottom: 0;
  }
  .menuHolder .rightSide {
  	width: 100%;
    margin-top: 94px;
  }
  .menuHolder .rightrightSide {
    width: 100vw;
  	border-left: 0;
  }
  .menuHolder .socialTags {
    height: 80px;
  	width: 100%;
    background: black;
    padding: 0 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(195, 195, 195, .5);
    margin-top: 56px;
  }
  .menuHolder .sTags {
  	width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .socialIcon {
  	display: block;
  }
  .menuHolder .deskMenuItem a {
  	color: white;
  }
  .menuBackground {
  	height: 0;
    background: black;
    display: flex;
    justify-content: flex-end;
  }
  .borderDiv {
  	min-width: 6.11vw;
    height: calc(5vw + 10px);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid #757575;
  }
  .menuBlock {
    position: relative;
  	min-height: 200px;
    padding: 0 20px 0 30.5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
  }
  .menuAbs {
  	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    opacity: 0;
    -webkit-animation: fromBottom2 .3s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation: fromBottom2 .3s ease-in-out;
    animation-fill-mode: forwards;
  }
  .menuBlock:hover .menuAbs {
  	-webkit-animation: fromBottom .3s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation: fromBottom .3s ease-in-out;
    animation-fill-mode: forwards;
    transform: translateY(0%);
    opacity: 1;
  }
  .menuBlock:hover .iconBlock {
  	content: url(https://cdn.shopify.com/s/files/1/0580/5994/8228/files/Untitled_design-6.png?v=1639491902);
  }
  .textPartBlock {
    position: relative;
    z-index: 2;
  	min-width: 59.48%;
    margin-right: 68px;
  }
  .menuBlockTitle {
  	font-size: 28px;
    line-height: 28px;
    margin-bottom: 12px;
    text-transform: unset;
    letter-spacing: 0;
  }
  .menuBlockText {
  	font-size: 16px;
    line-height: 19.2px;
  }
  .iconPartBlock {
    position: relative;
    z-index: 2;
  	width: calc(59.48% - 68px);
  }
  .iconPartBlock img {
  	width: 100%;
  }
  .menuBlock.last {
    background: black!important;
  	padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: unset;
    flex-wrap: wrap;
    min-height: unset;
    margin-top: 19px;
  }
  .menuBlock .twoLinks {
  	margin-right: 0;
    width: 100%;
  }
  .menuBlock .secondLink {
  	margin-top: 0.693vw;
    line-height: 19.2px;
    margin-bottom: 0;
    font-size: 16px;
    display: inline-block;
    margin-right: 32px;
  }
  .menuBlock .twoLinks:nth-of-type(2){
  	margin-right: 0;
  }
  .menuBlock .rightText {
  	font-size: 16px;
    line-height: 25.6px;
    color: #C3C3C3;
    margin-top: 40px;
    width: 50%;
  }
  .linkToParent {
  	font-size: 18px;
    line-height: 18px;
    margin-bottom: 34.27px;
    color: #C3C3C3;
    cursor: pointer;
    display: block;
    padding-left: 43px;
  }
  .childMenu {
  	position: relative;
  }
  .reverseLink {
  	position: absolute;
    top: 0;
    left: 20px;
    cursor: pointer;
    transform: translateX(-100%);
  }
  .reverseLink svg {
  	width: 18px;
    height: 18px;
  }
  .deskMenuItem.deskMenuItem.deskMenuItem.deskMenuItem.deskMenuItem.deskMenuItem {
  	display: none!important;
  }
  .menuHolder.active .deskMenuItem.deskMenuItem.deskMenuItem.deskMenuItem.deskMenuItem.deskMenuItem {
  	display: block!important;
    opacity: 1;
    transform: translate(0);
  }
  .menuHolder.active .deskMenuItem.loginLink {
  	top: 88px;
    left: 20px;
  }
  .menuHolder.active .deskMenuItem.cartLink {
  	top: 88px;
    left: 104px;
  }
  .imageOverlap {
  	display: none!important;
  }
  .animationSecHeading {
  	width: 100%!important;
    margin-right: 0%!important;
  }
  .animationSecSubheading {
  	width: 100%!important;
  }
  .containerMainBoth {
  	padding-left: 20px; 
    padding-right: 20px;
  }
  .mainAnimation {
  	display: flex;
    justify-content: center;
  }
  .animImages {
  	width: 80%;
    position: relative;
  }
  .animImages .hiddenImg {
  	width: 100%;
    visibility: hidden;
  }
  .animImg {
  	width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-10%);
    opacity: 0;
  }
  .mainAnimation.inview .animImg:nth-of-type(2){
    -webkit-animation: mainAnimation 0.5s ease-in-out;
  	-webkit-animation-fill-mode: forwards;
  }
  .mainAnimation.inview .animImg:nth-of-type(3){
    -webkit-animation: mainAnimation 0.5s ease-in-out;
  	-webkit-animation-fill-mode: forwards;
    animation-delay: .2s!important;
  }
  .mainAnimation.inview .animImg:nth-of-type(4){
    -webkit-animation: mainAnimation 0.5s ease-in-out;
  	-webkit-animation-fill-mode: forwards;
    animation-delay: .3s!important;
  }
  .mainAnimation.inview .animImg:nth-of-type(5){
    -webkit-animation: mainAnimation 0.5s ease-in-out;
  	-webkit-animation-fill-mode: forwards;
    animation-delay: .4s!important;
  }
  .mainAnimation.inview .animImg:nth-of-type(6){
    -webkit-animation: mainAnimation 0.5s ease-in-out;
  	-webkit-animation-fill-mode: forwards;
    animation-delay: .5s!important;
  }
  .mainAnimation.inview .animImg:nth-of-type(7){
    -webkit-animation: mainAnimation 0.5s ease-in-out;
  	-webkit-animation-fill-mode: forwards;
    animation-delay: .6s!important;
  }
  .mainAnimation.inview .animImg:nth-of-type(8){
    -webkit-animation: mainAnimation 0.5s ease-in-out;
  	-webkit-animation-fill-mode: forwards;
    animation-delay: .7s!important;
  }
  .mainAnimation.inview .animImg:nth-of-type(9){
    -webkit-animation: mainAnimation 0.5s ease-in-out;
  	-webkit-animation-fill-mode: forwards;
    animation-delay: .8s!important;
  }
  .mainAnimation.inview .animImg:nth-of-type(10){
    -webkit-animation: mainAnimation 0.5s ease-in-out;
  	-webkit-animation-fill-mode: forwards;
    animation-delay: .9s!important;
  }
  .twoBoxesSection .imageContainer {
  	background-size: cover;
    background-position: center;
    transition: background-size .6s ease-out;
    -moz-transition: background-size .6s ease-out;
    -ms-transition: background-size .6s ease-out;
    -o-transition: background-size .6s ease-out;
    -webkit-transition: background-size .6s ease-out;
  }
  .imageContainer > img {
  	display: none;
  }
  .imageContainer {
  	position: relative;
  }
  .bottomLeft {
  	display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .verticalCenter {
  	display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .xsPadded {
  	padding-top: 40px;
    padding-bottom: 40px;
  }
  .imageLink {
  	cursor: pointer;
    width: 54px;
  }
  .iconImage {
  	width: 47.5px;
  }
  .customHeading {
  	text-transform: unset;
  }
  .horizontalSlider {
  	height: 447px;
    display: flex;
    overflow-y: hidden!important;
    overflow-x: scroll!important;
    margin-left: 20px;
  }
  .horizontalSlider::-webkit-scrollbar {
    width: 0 !important;
  }
  .horizontalSlide {
  	height: 100%;
    height: 447px!important;
  }
  .horizontalSlide .imageContainer {
  	max-height: 100%;
    height: 100%;
    overflow: hidden;
    margin-right: 19px;
  }
  .horizontalSlide img {
  	width: auto;
    height: 100%;
  }
  .horizontalSlide .iconImage {
  	width: 44px;
    height: auto;
    margin-bottom: 20px;
  }
  .visSlide {
    display: none!important;
  	height: 100%;
    background: rgba(0,0,0,0.4);
    -webkit-animation: fadeInReverse 0.6s ease-out 0.3s;
  	-webkit-animation-fill-mode: forwards;
  }
  .visSlide .xsPadded2 {
  	padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .horizontalSlide .imageContainer:hover .visSlide{
  	-webkit-animation: fadeIn 0.6s ease-out;
  	-webkit-animation-fill-mode: forwards;
    display: block;
  }
  .horizontalSlide .imageContainer .visSlide h3, 
  .horizontalSlide .imageContainer .visSlide p,
  .horizontalSlide .imageContainer .visSlide img {
  	-webkit-animation: fadeInTopReverse 0.3s ease-out;
  	-webkit-animation-fill-mode: forwards;
     opacity: 0;
    transform: translateY(-50px);
  }
  .horizontalSlide .imageContainer .visSlide .imageLink svg {
  	-webkit-animation: fadeInBottomReverse 0.3s ease-out;
  	-webkit-animation-fill-mode: forwards;
     opacity: 0;
    transform: translateY(50px);
  }
  .horizontalSlide .imageContainer:hover .visSlide h3, 
  .horizontalSlide .imageContainer:hover .visSlide p,
  .horizontalSlide .imageContainer:hover .visSlide img {
  	-webkit-animation: fadeInTop 0.3s ease-out 0.6s;
  	-webkit-animation-fill-mode: forwards;
  }
  .horizontalSlide .imageContainer:hover .visSlide .imageLink svg {
  	-webkit-animation: fadeInBottom 0.3s ease-out 0.6s;
  	-webkit-animation-fill-mode: forwards;
  }
  .paddingLeftSlider {
  	width: 20px!important;
  }
  .buttonDiv {
  	display: inline-flex;
    cursor: pointer;
    border: 1px solid #C3C3C3;
    overflow: hidden;
    position: relative;
  }
  .buttonDiv img {
  	width: 3.46vw;
    height: 3.46vw;
  }
  .buttonDiv div {
  	height: 50px;
    padding: 0 16px;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-left: 1px solid #C3C3C3;
    position: relative;
    flex-grow: 1;
    -webkit-animation: buttonAnimationDiv2 0.3s ease-out .2s both;
	        animation: buttonAnimationDiv2 0.3s ease-out .2s both;
  }
  .buttonDiv div:after {
  	position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    transition: all .2s ease-out;
    transition-delay: .5s;
    -webkit-animation: buttonAnimationAfter2 0.2s ease-out both;
	        animation: buttonAnimationAfter2 0.2s ease-out both;
    }
  .buttonDiv svg {
    position: relative;
    transition: opacity .1s ease;
  	z-index: 1;
    -webkit-animation: buttonAnimation2 0.3s ease-out .5s both;
	        animation: buttonAnimation2 0.3s ease-out .5s both;
  }
  .buttonDiv div {
    position: relative;
  	transition: all .3s ease-out;
    transition-delay: .2s;
    z-index: 2;
  }
  .buttonDiv:hover svg {
    -webkit-animation: buttonAnimation 0.3s ease-out both;
	        animation: buttonAnimation 0.3s ease-out both;
  }
  .buttonDiv:hover div {
    border-right: 1px solid rgba(195,195,195,0.5);
    -webkit-animation: buttonAnimationDiv 0.3s ease-out .2s both;
	        animation: buttonAnimationDiv 0.3s ease-out .2s both;
  }
  .buttonDiv:hover div:after {
    -webkit-animation: buttonAnimationAfter 0.2s ease-out .5s both;
	        animation: buttonAnimationAfter 0.2s ease-out .5s both;
  }
  .evenContainer {
  	padding-left: 20px;
    padding-right: 20px;
  }
  .boxContainer .sliderMain .slick-track {
  	display: flex;
    align-items: stretch;
  }
  .boxContainer .colMain {
    border-top: 1px solid rgba(195, 195, 195, .5);
    border-bottom: 1px solid rgba(195, 195, 195, .5);
    padding: 42px 30px 53px;
    height: auto;
    flex: 1;
  }
  .boxContainer .colMain.slick-current {
  	border-right: 1px solid rgba(195, 195, 195, .5);
  }
  /*.boxContainer .colMain.lastOf {
  	margin-right: 6.11vw;
  }
  .boxContainer .colRight {
  	width: 6.11vw;
    display: flex;
    justify-content: center;
  }
  .boxContainer .sliderMain::-webkit-scrollbar {
    width: 0 !important;
  }*/
  .lineWithNumbers2 {
  	margin-left: 20px;
    width: 35px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: -30px;
  }
  .lineWithNumbers2 div {
  	order: 1;
  }
  .lineWithNumbers2 div:last-child {
  	order: 0;
  }
  .subSlick2 {
    margin-left: 0px;
  	display: flex;
    justify-content: center;
  }
  .subSlickHolder2 .slickNumber2 {
	font-size: 12px;
  	line-height: 15.6px;
    letter-spacing: 0.35px;
    margin-bottom: 0;
    margin-right: 18px;
    color: #848484;
    cursor: pointer;
  }
  .subSlickHolder2 .slickNumber2.active {
  	color: #000;
  }
  html, body {
  	overflow-y: visible!important;
  }
  .visibilityDivMob {
 	position: relative;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .visibilityDivImg {
  	display: none;
  }
  .indTab {
  	padding: 24px 0 24px 0;
    border-top: 1px solid;
    display: flex;
    width: 100%;
    cursor: pointer;
  }
  .indTab.active {
  	border-top: 1px solid;
  }
  .indTab.active p {
  	font-weight: 500;
  }
  .tabTitle {
  	width: 90%;
    text-align: left;
  }
  .tabNumber {
  	width: 10%;
    text-align: right;
    font-size: 14px;
    line-height: 18.2px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .arrowTab {
  	display: none;
  }
  .tabTextHolder {
  	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .tabText {
  	padding-bottom: 30px;
    display: none;
  }
  .tabText.active {
  	display: block;
  }
  .tabTextHolderNew {
  	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .tabTextNew {
  	padding-bottom: 30px;
    display: none;
  }
  .tabTextNew.active {
  	display: block;
  }
  .tabTextDesktop.tabTextDesktop.tabTextDesktop {
  	display: none!important;
  }
  .threeCol {
    border-top: 1px solid #C3C3C3;
    padding: 5.694vw 30px;
    display: flex;
    padding: 40px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .threeCol:last-of-type {
    border-bottom: 1px solid #C3C3C3;
  }
  .socialHolder {
  	display: flex;
    justify-content: center;
  }
  .instagramLink {
  	margin-right: 17px;
  }
  
  .lineWithNumbers3 {
  	margin-left: 0px;
    width: 35px;
    margin-bottom: 12px;
    margin-right: auto;
    position: relative;
  }
  .lineWithNumbers3 div {
  	order: 1;
  }
  .lineWithNumbers3 div:last-child {
  	order: 0;
  }
  .subSlick3 {
    margin-left: 0px;
  	display: flex;
    justify-content: center;
  }
  .subSlickHolder3 .slickNumber3 {
	font-size: 12px;
  	line-height: 15.6px;
    letter-spacing: 0.35px;
    margin-bottom: 0;
    margin-right: 34px;
    color: #848484;
    cursor: pointer;
  }
  .subSlickHolder3 .slickNumber3.active {
  	color: #000;
  }
  .hr--large {
  	display: none;
  }
  .mainFooterDiv {
  	background: #000;
    padding: 50px 20px 0;
  }
  .noTitleMenu {
  	width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footerLink.footerLink {
  	color: #fff;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .footerDiv {
  	display: flex;
    flex-wrap: wrap;
  }
  .titleMenu {
  	width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
  }
  .menuTitleFooter.menuTitleFooter {
  	color: #fff;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .footerLink2.footerLink2 {
  	color: #C3C3C3;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 16px;
  }
  .mobileClass.footerImage {
  	width: 123px;
    height: 123px;
    margin-top: 8px;
  }
  footer .socialTags {
  	min-width: 100vw;
    margin-left: -20px;
    padding: 31px 20px;
    border-top: 1px solid rgba(195, 195, 195, .5);
    border-bottom: 1px solid rgba(195, 195, 195, .5);
    margin-top: 44px;
  }
  .sTags {
  	display: flex;
    justify-content: center;
  }
  .socialIcon {
  	margin-left: 30px;
    margin-right: 30px;
  }
  .footerLogoDiv {
  	width: 172px;
    margin-bottom: 40px;
  }
  .footerBottomDiv {
  	width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .footerBottomItem.footerBottomItem.footerBottomItem {
  	color: #C3C3C3;
    margin-right: 24px;
  }
  .rightrightSide.mobileClass {
  	width: calc(100% - 172px);
    display: flex;
   	justify-content: flex-end;
  }
  footer.site-footer {
  	padding-bottom: 0;
  }
  .mainFooterDiv.mainFooterDiv2 {
  	padding-bottom: 49px;
  }
  .pinMe.noCursor {
  	position: relative!important;
    top: unset!important;
    left: unset!important;
  }
  .videoSectionImage.videoSectionImage.videoSectionImage {
  	width: 100%;
    display: block;
  }
  .videoSectionDiv {
  	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .selectDiv select {
  	font-size: 16px;
    line-height: 24px;
    padding: 18px 24px;
    font-family: "GT Walsheim Pro";
    font-weight: 400;
    color: #fff;
    font-style: unset!important;
    background: #DED8CE;
    width: 100%;
  }
  .selectDiv {
  	position: relative;
    margin-bottom: 1.39vw;
  }
  .selectDiv:after {
    content: ' ';
  	position: absolute;
    width: 12px;
    height: 12px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    z-index: 2;
    transform: rotate(45deg) translateY(50%);
    right: 24px;
    bottom: 50%;
  }
  .selectDivWhite:after {
  	border-color: #fff;
  }
  input[type="text"], input[type="tel"], input[type="email"] {
  	padding: 18px 24px;
    background: transparent;
    font-size: 16px;
    line-height: 24px;
    font-family: "GT Walsheim Pro";
    font-weight: 300;
    border: 1px solid rgba(195, 195, 195, .5);
    font-style: unset!important;
    margin-bottom: 20px;
  }
  textarea {
  	padding: 18px 24px;
    background: transparent!important;
    font-size: 16px;
    line-height: 24px;
    font-family: "GT Walsheim Pro";
    font-weight: 300;
    border: 1px solid rgba(195, 195, 195, .5)!important;
    font-style: unset!important;
    height: 116px;
    margin-bottom: 20px;
  }
  textarea::placeholder, input[type="text"]::placeholder, input[type="tel"]::placeholder, input[type="email"]::placeholder { 
    color: #5E5E5E;
    opacity: 1; 
  }

  textarea:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder { 
    color: #5E5E5E;
  }

  textarea::-ms-input-placeholder, input[type="text"]::-ms-input-placeholder, input[type="tel"]::-ms-input-placeholder, input[type="email"]::-ms-input-placeholder { 
    color: #5E5E5E;
  }
  .stickyAbout {
  	left: 0px!important;
    background: transparent!important;
    mix-blend-mode: unset!important;
    width: 1px;
  }
  .stickyAbout * {
  	mix-blend-mode: unset!important;
  }
  
  .aboutTabTextHidden {
  	visibility: hidden;
    opacity: 0;
  }
  .tabHolderDiv {
  	position: relative;
  }
  .aboutTabMain {
  	font-size: 14px;
    line-height: 18.2px;
    margin-bottom: 0.69vw;
    color: black;
    white-space: nowrap;
    margin-right: 32px;
  }
  .aboutTabMain p {
    cursor: pointer;
  }
  .aboutTabMain.active p {
  	font-weight: 600;
    cursor: pointer;
  }
  .aboutTabMain.realactive p {
  	font-weight: 600;
    cursor: pointer;
  }
  .aboutTabMain .tabLine {
  	display: none;
  }
  .aboutTabMain.active .tabLine {
  	display: block;
  }
  .aboutTabText {
    position: absolute;
    top: 0;
    left: 0;
  	display: none;
  }
  .aboutTabText.active {
  	display: block;
  }
  .aboutTabsDiv2 {
  	width: 100vw!important;
    top: 55px!Important;
    padding: 24px 20px;
    display: flex;
    max-width: 100vw;
    overflow-x: scroll;
    background: white!important;
    border-top: 1px solid rgba(195, 195, 195, .5);
    border-bottom: 1px solid rgba(195, 195, 195, .5);
    position: sticky!important;
    transition: all .6s ease-out;
  }
   .aboutTabsDiv2::-webkit-scrollbar {
    display: none;
  }

    /* Hide scrollbar for IE, Edge and Firefox */
    .aboutTabsDiv2 {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  
  .galleryImageDiv {
    position: relative;
  	width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 2;
  }
  .galleryImageVis {
    width: 100%;
  	visibility: visible;
  }
  .galleryImageAbs {
    display: none!important;
  	top: 0;
    left: 0;
    position: absolute;
    min-width: 100%;
    height: auto;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: min-width .6s ease-out;
    z-index: 1;
    overflow: hidden;
  }
  .galleryImageDiv .visSlide{
  	display: none
  }
  .galleryImageDiv:hover {
  	z-index: 3;
  }
  .galleryImageDiv:hover .visSlide{
    display: block;
  	-webkit-animation: fromBottom 0.8s ease-out;
  	-webkit-animation-fill-mode: forwards;
    display: block;
    opacity: 1;
  }
  .galleryImageAbs:hover {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 3;
  	min-width: 100%;
  }
  .designOptions {
  	border-top: 1px solid rgba(195, 195, 195, .5);
    border-bottom: 1px solid rgba(195, 195, 195, .5);
  }
  .designOption {
  	border-right: 1px solid rgba(195, 195, 195, .5);
    padding: 53px 45px;
  }
  .designOption.lastOf {
  	border-right: 0;
  }
  .imageViewer .flexDiv {
  	display: flex;
    align-items: center;
  }
  .accCategory {
    cursor: pointer;
  	padding-bottom: 29px;
    color: #5E5E5E;
    margin-right: 30px;
    font-size: 20px;
    display: inline-block;
    position: relative;
	bottom: -4px;
  }
  .accCategory.active {
    color: #000;
    border-bottom: 3px solid #000;
  }
  .disableAbs {
  	position: relative!important;
  }
  .contactNumber {
    display: flex;
    font-size: 16px;
    line-height: 20.8px;
    color: #000;
    border: 1px solid rgba(195, 195, 195, .5);
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    height: 40px;
    width:40px;
  }
  .contactTitle {
  	display: none;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.39vw;
    line-height: 1.67vw;
    color: #5E5E5E;
  }
  .contactCategory.active .contactNumber {
  	border: 0;
    background: black;
    color: #fff;
  }
  .bottomContactLeft {
  	display: flex;
    margin-bottom: 27px;
  }
  .contactForm {
  	display: none;
  }
  .contactForm.active {
  	display: block;
  }
  .smallContactTitle {
  	font-size: 24px;
    line-height: 28.8px;
    margin-bottom: 30px;
  }
  #contact .selectDiv select {
  	color: #000;
    white-space: break-spaces;
	padding-right: 100px;
  }
  #contact textarea::placeholder, #contact input[type="text"]::placeholder, #contact input[type="tel"]::placeholder, #contact input[type="email"]::placeholder { 
    color: #5E5E5E;
    opacity: 1; 
  }

  #contact textarea:-ms-input-placeholder, #contact input[type="text"]:-ms-input-placeholder, #contact input[type="tel"]:-ms-input-placeholder, #contact input[type="email"]:-ms-input-placeholder { 
    color: #5E5E5E;
  }

  #contact textarea::-ms-input-placeholder, #contact input[type="text"]::-ms-input-placeholder, #contact input[type="tel"]::-ms-input-placeholder, #contact input[type="email"]::-ms-input-placeholder { 
    color:#5E5E5E;
  }
  #contact .nextButton {
  	min-width: 50%;
  }
  #CartDrawer * {
	font-family: "GT Walsheim Pro";
}
#CartDrawer {
  box-shadow: -100px 0px 0px 100vw rgba(0,0,0,0.44);
  -webkit-box-shadow: -100px 0px 0px 100vw rgba(0,0,0,0.44);
  -moz-box-shadow: -100px 0px 0px 100vw rgba(0,0,0,0.44);
  z-index: 10000;
}
.drawer {
	padding-left: 0;
  	padding-right: 0;
}
.drawer__fixed-header.drawer__fixed-header {
  	left: 0;
  	right: 0;
}
.drawer__header.drawer__header {
	padding: 0 30px;
  	border-bottom: 1px solid rgba(195, 195, 195, .5);
}
#CartDrawer .drawer__title {
	font-size: 20px;
  	line-height: 24px;
  	padding: 24px 0;
  	font-weight: 500;
}
#CartDrawer .ajaxcart__product-name {
	font-size: 16px;
  	line-height: 20px;
  	margin-bottom: 4px;
  	font-style: unset;
  	font-weight: 500;
}
.cartCount {
	margin-left: 12px;
  	padding: 4px;
  	font-size: 10px;
  	line-height: 12px;
  	min-width: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  	background: #F4F0EA;
  	border-radius: 100%;
  	position: relative;
  	top: -2px;
}
.quickShipCart {
	font-size: 12px;
  	line-height: 15px;
  	color: #848484;
  	opacity: 0.8;
}
#CartDrawer .ajaxcart__qty {
	max-width: 109px;
}
#CartDrawer .ajaxcart__qty .ajaxcart__qty-adjust {
	 border: 0;
  	 padding: 0 13px;
}
#CartDrawer .ajaxcart__qty input[type=text] {
	height: 32px;
  	padding: 0 33px;
  	border-color: rgba(195, 195, 195, .5);
}
#CartDrawer .ajaxcart__price {
	font-size: 16px;
  	line-height: 20px;
  	letter-spacing: 0;
}
.ajaxPrice {
	display: flex;
  	align-items: center;
  	justify-content: space-between;
}
#CartDrawer .drawer__close-button {
	right: -29px;
  	width: 80px;
  	border-left: 1px solid rgba(195, 195, 195, .5);
}
#CartDrawer .ajaxcart__footer--fixed {
	left: 0;
  	right: 0;
  	padding: 0 30px;
  	background: #F4F0EA;
  	height: unset;
  	padding-top: 35px;
  	padding-bottom: 20px;
}
.ajaxcart__policies {
	display: none;
}
.freeShippingAjaxTitle {
	font-size: 16px;
  	line-height: 14px;
  	margin-bottom: 6px;
  	color: #000;
}
.freeShippingAjaxText {
	font-size: 14px;
  	line-height: 20px;
  	padding-bottom: 29px;
  	border-bottom: 1px solid rgba(195, 195, 195, .5);
  	color: #676570;
  	margin-bottom: 32px;
}
#CartDrawer .ajaxcart__subtotal {
	font-size: 16px;
  	line-height: 24px;
  	margin-bottom: 36px;
  	font-weight: 500;
  	color: #848484;
  	text-transform: unset;
  	letter-spacing: 0;
}
#CartDrawer .ajaxCartSubtotal {
	font-size: 18px;
  	line-height: 22px;
  	font-weight: 500;
  	color: #000;
  	text-transform: unset;
  	letter-spacing: 0;
}
#CartDrawer .cart__checkout {
	padding: 29px;
  	font-size: 14px;
  	line-height: 14px;
  	text-transform: unset;
  	font-weight: 500;
  	letter-spacing: 0;
}
#CartDrawer .cart__checkout .icon.icon-arrow-right {
	display: none;
}
}